* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  outline: none;
}
html {
  font-size: 93.75%;
}
main {
  height: 100vh;
  background-color: #ffffff;
}
.search-block {
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: center;
}
.city-input {
  width: 17rem;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  font-style: oblique;
  opacity: 0.8;
  background-color: #ffffff;
  border: none;
  border-radius: 1rem;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}
.city-input:focus {
  opacity: 1;
}
.search-button {
  position: relative;
  left: -2.2rem;
  top: 0.12rem;
  border: none;
  border-radius: 50%;
  background-color: inherit;
}
.search-icon {
  height: 1.4rem;
  width: 1.8rem;
}
.search-icon:hover {
  opacity: 0.7;
  cursor: pointer;
}
.display-card {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display-block {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  min-height: 250px;
  height: 70vh;
  width: 80vw;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}
.side-block {
  padding: 1rem;
}
.display-city {
  font-size: 2rem;
  font-weight: 500;
}
.display-weather {
  margin: 1.25rem 0 0.25rem;
}
.weather {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 2rem;
  padding: 0 0 1rem;
}
.weather-icon {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
}
.discription {
  font-size: 1.3rem;
}
.display-temperature {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: 3.5rem;
  margin-bottom: 1.8rem;
}
.temperature {
  font-size: 7rem;
}
.temperature-unit {
  padding-top: 1.2rem;
}
.display-feelslike {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feels-like {
  font-size: 1rem;
  font-weight: 400;
}
.unit {
  font-size: 0.7rem;
  margin-right: 1rem;
}
.minmax-block {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
}
@media (min-width: 850px) {
  html {
    font-size: 87.5%;
  }
  .search-block {
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
  }
  .city-input {
    width: 23rem;
  }
  .display-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5rem;
    height: 45vh;
    min-width: 600px;
    width: 50vw;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  }
}
