@tailwind base;

* {
	scrollbar-width: thin;
	scrollbar-color: #e7e7e7;
}

*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

*::-webkit-scrollbar-track {
	background: #085984;
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background: #0280c0;
	border-radius: 15px;
}

@tailwind components;
@tailwind utilities;
